name: Build and Release LaTeX Resume

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compile LaTeX Document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: resume_2025.tex

      - name: Rename PDF
        run: mv resume_2025.pdf resume.pdf

      - name: Get Current Date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Create Latest Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Resume
          body: "Last updated: ${{ steps.date.outputs.date }}"
          files: resume.pdf
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}